*{
    margin: 0;
    padding: 0;
}

.maincont{
    display: flex; 
}
.background{
    height: 109vh;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
}
.lastbackground{
    height: 130vh;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
}
.container{
    margin-top: 0px; 
    color: white;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
    height: 100vh;
    width: 70vw;
    /* margin-left: 50vw; */
}

.container1{
    margin-top: 0px; 
    color: white;
    height: 100vh;
    width: 30vw;
}
.title{
    font-size: 55px;
    padding: 20px;
    padding-top: 20%;
    font-family: 'Roboto', sans-serif;
}

.question{
    font-size: 45px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.statement{
    font-size: 25px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.statement2{
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.logo{
    padding-top: 35%;
    width: 55%;
    margin: 10%;
}

.card{
    margin-top: 1%;
    max-width: 70%;
    min-width: 45%;
    display: inline-block;
    box-shadow: 6px 6px;
}

.entirelogo{
    width: 35%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 4px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: 'inline-block';
    justify-content: 'space-evenly';
    align-items: 'center'
}

.lastlogo{
    width: 50%
}
.progress{
    width: 100vw;
}

.other{
    width: 30%;
}

.email{
    width: 30%;
    margin-top: 5px;
}

.progress-bar {
    justify-content: center;
    display: inline-block;
    height: 10px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid rgb(83, 83, 83);
    background: rgb(231, 231, 231);
  }
  
  .filler {
    background: green;
    background-size: cover;
    position: center;
    height: 100%;
    border-radius: inherit;
    transition: width .3s ease-in;
  }

/* Ipad  */
@media only screen and (max-width: 800px){

    .maincont{
        display: inline-block;
    }
    .title{
        font-size: 65px;
    padding: 20px;
    padding-top: 20%;
    font-family: 'Roboto', sans-serif;
    }

    .background{
        height: 100vh;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
    }
    .question{
        font-size: 65px;
        padding: 20px;
        padding-top: 15px;
    }
    .statement{
        font-size: 25px;
        padding: 30px;
    }

    .statement2{
        font-size: 50px;
        padding: 20px;
    }

    .container{
        margin-top: 0px; 
        color: white;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
        height: 90vh;
        margin: none;
        width: 100vw;
    }

    .lastbackground{
        height: 145vh;
    }
    .card{
        margin-top: 30;
        min-width: 75%;
        min-height: 80%;
        display: inline-block;
        box-shadow: 6px 6px;
    }

    .logo{
        display: none;
    }

    .container1{
        margin-top: 0px; 
        color: white;
        /* background: radial-gradient(circle, rgba(31,192,255,1) 0%, rgba(0,80,255,1) 100%); */
        height: 10vh;
        width: 100vw;
    }

    .entirelogo{
        display: inline-block;
        width: 80%;
        background-color: none;
        /* height: 15%; */
    }
    .other{
        width: 35%;
    }
    .email{
        width: 35%
    }
}

@media only screen 
and (max-device-width : 500px){

    .background{
        height: 100vh;
    }
    .maincont{
        display: grid;
    }
    .title{
        font-size: 4vh;
        padding: 2vh;
        padding-top: 25%;
        font-family: 'Roboto', sans-serif;
    }
    .question{
        font-size: 3vh;
        padding: 3vh;
        font-family: 'Roboto', sans-serif;
    }
    
    .statement{
        font-size: 3vh;
        padding: 20px;
        font-family: 'Roboto', sans-serif;
    }
    
    .statement2{
        font-size: 3vh;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
    }
    .card{
        margin-top: 7vh;
        min-height: 25vh;
        max-width: 80vw;
        min-width: 75vw;
        display: inline-block;
    }

    .logo{
        display: none;
    }

    .entirelogo{
        width: 65%;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 4px;
        margin-top: 1%;
        margin-bottom: 1%;
        display: 'inline-block';
        justify-content: 'space-evenly';
        align-items: 'center'
    }

    .lastlogo{
        width: 80%
    }

    .lastbackground{
        height: 100vh;
    }

    .container{
        margin-top: 0px; 
        color: white;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
        height: 92vh;
        width: 101vw;
        margin: none;
    }

    .container1{
        margin-top: 0px; 
        color: white;
        height: 10vh;
        width: 100vw;
    }
    .other{
        width: 55%;
    }
    .email{
        width: 65%
    }
}