*{
    margin: 0;
    padding: 0;
}

.maincont{
    display: flex; 
}

.button{
    color: white;
    border: 1px solid white;
    min-width: 30%;
    min-height: 4%;
    margin: 25;
    background-color: #6f1502;
    font-family: 'Roboto';
    font-size: 25px;
    border-radius: 10px;
    margin-top: 3vh;
    cursor: pointer
}

.continueButton{
    color: white;
    min-width: 15vw;
    min-height: 5%;
    background-color: #151856;
    font-family: 'Roboto';
    font-size: 25px;
    border-radius: 10px;
    margin: 3vh;
    padding: 3px;
    cursor: pointer
}

.previousButton{
    color: white;
    min-width: 15vw;
    min-height: 5%;
    background-color: #6f1502;
    font-family: 'Roboto';
    font-size: 25px;
    border-radius: 10px;
    margin: 3vh;
    padding: 3px;
    cursor: pointer
}

.background{
    min-height: 100vh;
    max-height: 115vh;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
}
.lastbackground{
    min-height: 100vh;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
}
.container{
    margin-top: 0px; 
    color: white;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
    height: 100vh;
    width: 70vw;
    /* margin-left: 50vw; */
}

.container1{
    margin-top: 0px; 
    color: white;
    height: 100vh;
    width: 30vw;
}
.title{
    font-size: 55px;
    padding: 20px;
    padding-top: 17%;
    font-family: 'Roboto', sans-serif;
}

.question{
    font-size: 45px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.statement{
    font-size: 25px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.statement2{
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.logo{
    padding-top: 35%;
    width: 55%;
    margin: 10%;
}

.card{
    margin-bottom: 3vh;
    max-width: 60%;
    min-width: 55%;
    max-height: 90%;
    display: inline-block;
    box-shadow: 6px 6px;
}

.step{
    font-size: 15px;
}

.entirelogo{
    width: 35%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* padding: 4px; */
    margin-top: 1%;
    margin-bottom: 1%;
    display: 'inline-block';
    justify-content: 'space-evenly';
    align-items: 'center'
}
.landinglogo{
    width: 55%;
    display: 'inline-block';
    justify-content: 'space-evenly';
    align-items: 'center'
}
.lastlogo{
    width: 50%
}
.progress{
    width: 100vw;
}

.other{
    width: 30%;
}

.email{
    width: 30%;
    margin-top: 5px;
}

.progress-bar {
    justify-content: center;
    display: inline-block;
    height: 10px;
    width: 400px;
    border-radius: 50px;
    border: 2px solid rgb(37, 37, 37);
    background: rgb(255, 255, 255);
  }
  
  .filler {
    background: url('https://66.media.tumblr.com/f08dc891c2781017003b5b93278c546f/tumblr_pkuue0TSKb1uzwgsuo1_400.gif');
    background-size: cover;
    position: center;
    height: 100%;
    border-radius: inherit;
    transition: width .3s ease-in;
  }

  .additionalProfit{
    color: green;
    font-size: 45px
  }

  .paper{
      height: 10vh;
      max-height: 15vh;
  }

  .alert{
      font-size: 2vh;
  }

/* Ipad  */
@media only screen and (max-width: 1025px){

    .maincont{
        display: inline-block;
    }
    .title{
    font-size: 65px;
    padding: 20px;
    padding-top: 20%;
    font-family: 'Roboto', sans-serif;
    }
    .landinglogo{
        padding-top: 1vh;
        width: 70%;
        display: 'inline-block';
        justify-content: 'space-evenly';
        align-items: 'center'
    }

    .button{
        color: white;
        min-width: 45%;
        min-height: 4%;
        margin: 25;
        background-color: #6f1502;
        font-family: 'Roboto';
        border-radius: 10px;
        margin-top: 3vh;
        font-size: 50px;
        padding: 5px;
        border: 4px solid white;
    }
    .continueButton{
        color: white;
        min-width: 30vw;
        min-height: 5%;
        background-color: #151856;
        font-family: 'Roboto';
        font-size: 30px;
        border-radius: 10px;
        margin: 3vh;
        padding: 5px;
    }
    
    .previousButton{
        color: white;
        min-width: 30vw;
        min-height: 5%;
        background-color: #6f1502;
        font-family: 'Roboto';
        font-size: 30px;
        border-radius: 10px;
        margin: 3vh;
        padding: 5px;
    }
    .background{
        height: 100vh;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
    }
    .question{
        font-size: 65px;
        padding: 20px;
        padding-top: 15px;
    }
    .statement{
        font-size: 25px;
        padding: 30px;
    }

    .statement2{
        font-size: 50px;
        padding: 20px;
    }

    .container{
        margin-top: 0px; 
        color: white;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
        height: 88vh;
        margin: none;
        width: 100vw;
    }

    .lastbackground{
        height: 100vh;
    }

    .card{
        /* padding-top: 2vh; */
        margin-top: 3vh;
        width: 85vw;
        max-width: 85vw;
        max-height: 70%;
        margin-top: 30;
        min-width: 80vw;
        min-height: 65%;
        display: inline-block;
        box-shadow: 6px 6px;
    }

    .logo{
        display: none;
    }

    .container1{
        margin-top: 0px; 
        color: white;
        /* background: radial-gradient(circle, rgba(31,192,255,1) 0%, rgba(0,80,255,1) 100%); */
        height: 12vh;
        width: 100vw;
    }

    .entirelogo{
        display: inline-block;
        width: 60%;
        background-color: none;
        /* height: 15%; */
    }
    .other{
        width: 35%;
    }
    .email{
        width: 35%
    }

    .additionalProfit{
        color: green;
        font-size: 65px
    }

    .step{
        font-size: 25px;
        padding-bottom: 15px;
    }
}

/* Ipad Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .container{
      margin-top: 0px; 
      color: white;
      background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
      height: 88vh;
      width: 100vw;
  }
  .container1{
      margin-top: 0px; 
      color: white;
      height: 14h;
      width: 100vw;
  }
  .landinglogo{
      width: 30%;
      display: 'inline-block';
      justify-content: 'space-evenly';
      align-items: 'center'
  }
  .title{
    font-size: 45px;
    padding: 20px;
    padding-top: 6%;
    font-family: 'Roboto', sans-serif;
}
.question{
    font-size: 35px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.statement{
    font-size: 25px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.statement2{
    font-size: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.button{
    color: white;
    border: 1px solid white;
    min-width: 40%;
    min-height: 5%;
    margin: 25;
    background-color: #6f1502;
    font-family: 'Roboto';
    font-size: 25px;
    border-radius: 10px;
    margin-top: 3vh;
}
.background{
    height: 100%;
    max-height: 110%;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
}

.lastbackground{
    height: 100%;
}

.entirelogo{
    width: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* padding: 4px; */
    margin-top: 1%;
    margin-bottom: 1%;
    display: 'inline-block';
    justify-content: 'space-evenly';
    align-items: 'center'
}
.step{
    font-size: 20px;
    padding-bottom: 15px;
}
}


@media only screen 
and (max-device-width : 500px){

    .background{
        height: 100vh;
    }
    .maincont{
        display: grid;
    }
    .title{
        font-size: 5vh;
        padding: 1vh;
        padding-top: 20%;
        font-family: 'Roboto', sans-serif;
        
    }

    .question{
        font-size: 3vh;
        padding: 3vh;
        font-family: 'Roboto', sans-serif;
    }
    
    .statement{
        font-size: 3vh;
        padding: 20px;
        font-family: 'Roboto', sans-serif;
    }
    
    .statement2{
        font-size: 4vh;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
    }

    .button{
        margin-top: 7vh;
        font-size: 55px;
        min-width: 55vw;
        padding: 5px;
        border: 4px solid white;
    }

    .continueButton{
        color: white;
        min-width: 55vw;
        min-height: 10%;
        background-color: #151856;
        font-family: 'Roboto';
        font-size: 50px;
        border-radius: 10px;
        margin: 2vh;
        padding: 5px;
    }
    
    .previousButton{
        color: white;
        min-width: 55vw;
        min-height: 10%;
        background-color: #6f1502;
        font-family: 'Roboto';
        font-size: 50px;
        border-radius: 10px;
        margin: 2vh;
        padding: 5px;
    }
    
    .card{
        padding-top: none;
        margin-top: 5vh;
        min-height: 30vh;
        max-width: 85vw;
        min-width: 75vw;
        display: inline-block;
        width: 85vw;
        font-size: 35px;
    }

    .logo{
        display: none;
    }

    .entirelogo{
        width: 75%;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 4px;
        margin-top: 1%;
        margin-bottom: 1%;
        display: 'inline-block';
        justify-content: 'space-evenly';
        align-items: 'center'
    }

    .lastlogo{
        width: 80%
    }

    .lastbackground{
        height: 110vh;
    }

    .container{
        margin-top: 0px; 
        color: white;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
        height: 92vh;
        width: 100vw;
        margin: none;
    }

    .container1{
        margin-top: 0px; 
        color: white;
        height: 8vh;
        width: 100vw;
    }
    .other{
        width: 55%;
    }
    .email{
        width: 65%
    }

    .step{
        font-size: 34px;
        padding-bottom: 1px;
        padding-top: 15px
    }

    .alert{
        font-size: 2vh;
    }

    .progress-bar {
        justify-content: center;
        display: inline-block;
        height: 20px;
        width: 500px;
        border-radius: 50px;
        border: 2px solid rgb(37, 37, 37);
        background: rgb(255, 255, 255);
      }

}