*{
    margin: 0;
    padding: 0;
}

.maincont{
    display: flex;
    
}
.background{
    height: 109vh;
    background: radial-gradient(circle, rgba(64,69,84,1) 0%, rgba(31,33,40,1) 100%);
}
.lastbackground{
    height: 117vh;
    background: radial-gradient(circle, rgba(64,69,84,1) 0%, rgba(31,33,40,1) 100%);
}
.container{
    margin-top: 0px; 
    color: white;
    background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
    height: 100vh;
    width: 70vw;
    /* margin-left: 50vw; */
}

.container1{
    margin-top: 0px; 
    color: white;
    height: 100vh;
    width: 30vw;
}
.title{
    font-size: 55px;
    padding: 20px;
    padding-top: 10%;
}

.question{
    font-size: 45px;
    padding: 20px;
}

.statement{
    font-size: 25px;
    padding: 20px;
}

.statement2{
    font-size: 30px;
    padding: 20px;
}

.logo{
    padding-top: 35%;
    width: 55%;
    margin: 10%;
}

.card{
    max-width: 75%;
    min-width: 45%;
    display: inline-block;
    box-shadow: 6px 6px;
}

.entirelogo{
    width: 40%;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    margin-top: 2%;
    box-shadow: 6px 6px
}

.lastlogo{
    width: 50%
}
.progress{
    width: 100vw;
    /* display: inline-block; */
    /* justify-content: space-evenly; */
}

.other{
    width: 40%;
}

.email{
    width: 35%
}


/* Ipad  */
@media (max-width: 1100px){

    .maincont{
        display: inline-block;
    }
    .title{
        font-size: 65px;
        padding: 20px;
        padding-top: 10%;
    }
    .question{
        font-size: 55px;
        padding: 20px;
        padding-top: 15px;
    }
    .statement{
        font-size: 25px;
        padding: 30px;
    }

    .statement2{
        font-size: 30px;
        padding: 20px;
    }

    .container{
        margin-top: 0px; 
        color: white;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
        height: 90vh;
        margin: none;
        width: 100vw;
    }

    .lastbackground{
        height: 135vh;
        background: radial-gradient(circle, rgba(64,69,84,1) 0%, rgba(31,33,40,1) 100%);
    }
    .card{
        min-width: 75%;
        min-height: 30%;
        display: inline-block;
        box-shadow: 6px 6px;
    }

    .logo{
        display: none;
    }

    .container1{
        margin-top: 0px; 
        color: white;
        /* background: radial-gradient(circle, rgba(31,192,255,1) 0%, rgba(0,80,255,1) 100%); */
        height: 10vh;
        width: 100vw;
    }

    .entirelogo{
        display: inline-block;
        width: 45%;
        background-color: none;
        /* height: 15%; */
    }
    .other{
        width: 35%;
    }
    .email{
        width: 45%
    }
}

@media (max-width: 500px){

    .maincont{
        display: grid;
    }
    .title{
        font-size: 30px;
        padding: 20px;
        padding-top: 10%;
    }
    .card{
        min-width: 95%;
        display: inline-block;
        box-shadow: 6px 6px;
    }

    .logo{
        display: none;
    }

    .entirelogo{
        display: inline-block;
        width: 75%;
        background-color: none;
        /* height: 15%; */
    }

    .lastlogo{
        width: 80%
    }

    .lastbackground{
        height: 100%;
        background: radial-gradient(circle, rgba(64,69,84,1) 0%, rgba(31,33,40,1) 100%);
    }

    .container{
        margin-top: 0px; 
        color: white;
        background: radial-gradient(circle, rgba(21,24,86,1) 0%, rgba(0,14,45,1) 100%);
        height: 93vh;
        width: 101vw;
        margin: none;
    }

    .container1{
        margin-top: 0px; 
        color: white;
        /* background: radial-gradient(circle, rgba(31,192,255,1) 0%, rgba(0,80,255,1) 100%); */
        height: 10vh;
        width: 100vw;
    }
    .other{
        width: 55%;
    }
    .email{
        width: 65%
    }
}